.header {
  height: 200px;
  padding: 15px;
  margin: 15px 20px 0 20px;
  border: 2px solid #303030;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  &__title {
    color: #1A7BBF !important;
    margin-top: 10px;
    margin-bottom: 8px;
  }
}

.metrics {
  &__item {
    &_label {
      color: grey;
      font-size: 18px;
    }
    &_value {
      color: white;
      font-size: 18px;
    }
  }
}

.feedbackSelector {
  &__checkbox {
    width: 20px;
    height: 20px;
    padding: 10px 10px;
    margin: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid Silver;
    border-radius: 0;
    color: Silver;
    cursor: pointer;
  }
  &__icon {
    font-size: 16px;
    color: Silver;
  }
  &__bage {
    padding: 2px 15px;
    font-size: 14px;
    border-radius: 4px;
  }
}

.profileSettings {
  &__email {
    font-size: 20px;
    color: #1A7BBF !important;
    border-bottom: 2px solid #1A7BBF !important;
  }
  &__icon {
    font-size: 20px;
    color: Silver;
  }
  &__info {
    font-size: 20px;
    color: grey;
  }
}

